.main-cards {
    background: rgba(77, 91, 136, 0.9);
    border: solid 4px black;
    margin:auto;
    width: 40%;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    margin-bottom: 7rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 1s;
  
    
 
  }

  .main-cards:hover
  {
    transform:  scale(1.05);
   
  }

  .img-project
  {
    border-radius: 0.5rem;

  }

  .project-name
  {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 0.5rem;
  }


  .descript-project
  {
    color: white;

  }

  .img-align
  { 
    border: 2px solid red;
    display: flex;
    position: relative;
    text-align: center;

  }


  .descript-align
  {
    width: 30%;
    border: 2px solid red;
    color: white;
    padding-top: 3rem;
 
 
   
  }



  .social-medias
  {
    background-color: rgba(77, 91, 136, 0.9);
    border: solid 4px black;
    margin: auto;
    width: 40%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 3px;
    padding-top: 50px;
    border-radius: 0.5rem;
  }


 


  .icons

  {
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    transition: transform 1s;
  }


  .icons:hover

  {
    transform:  scale(1.08);
  }