*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

a
{
 text-decoration: none;
 margin: 0px;
 padding: 0px
}

header
{

    
    margin-bottom: 4rem;

}



footer
{
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    background-color: rgb(7, 5, 5);
    color: white;
    text-align: center;
}


body

{
    background-color: #333e62;
}


h1
{
    font-size: 2rem;
}

